body {
    font-family: 'Inter', sans-serif;
    color: #344054;
}

.navbar-title {
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(to right, rgba(210, 13, 13, 1) 0%,
            rgba(201, 143, 30, 1) 12.5%,
            rgba(163, 191, 49, 1) 25%,
            rgba(66, 182, 71, 1) 37.5%,
            rgba(85, 172, 156, 1) 50%,
            rgba(61, 155, 207, 1) 62.5%,
            rgba(107, 76, 193, 1) 75%,
            rgba(186, 37, 162, 1) 87.5%,
            rgba(221, 24, 130, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    color: #007BFF;
    font-weight: 500;
    font-size: 32px;
}



.button-primary {
    position: absolute;
    top: 0px;
    display: flex;
    right: 46px;
    margin-top: 120px;
    color: #344054;
    gap: 10px;
}

.cancel-button {
    width: 120px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #626F86;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    
}

.save-button {
    width: 120px;
    height: 36px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #007BFF;
    color: #007BFF;
    font-weight: 500;
    font-size: 16px;
    
}

