body {
    font-family: 'Inter', sans-serif;
    color: #344054;
}

.navbar-title {
    font-weight: 500;
    font-size: 20px;
    background: linear-gradient(to right, rgba(210, 13, 13, 1) 0%,
            rgba(201, 143, 30, 1) 12.5%,
            rgba(163, 191, 49, 1) 25%,
            rgba(66, 182, 71, 1) 37.5%,
            rgba(85, 172, 156, 1) 50%,
            rgba(61, 155, 207, 1) 62.5%,
            rgba(107, 76, 193, 1) 75%,
            rgba(186, 37, 162, 1) 87.5%,
            rgba(221, 24, 130, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    color: #007BFF;
    font-weight: 500;
    font-size: 32px;
}

.menu {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    border-radius: 16px;
    box-shadow: 0px 4px 50px 0px #0000000F;
    background-color: #FFFFFF;
    padding: 4px 10px;
    font-weight: 500;
    font-size: 16px;
    color: #344054;
}

.menu-item {
    padding: 2px 20px;

    cursor: pointer;
}

.selected {
    background-color: #007BFF1A;
    color: #007BFF;
    border-radius: 8px;
}

.button-primary {
    position: absolute;
    top: 0px;
    display: flex;
    right: 46px;
    margin-top: 120px;
    color: #344054;
    gap: 10px;
}

.preview-button {
    width: 120px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #626F86;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    
}

.sendOffer-button {
    width: 120px;
    height: 36px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #007BFF;
    color: #007BFF;
    font-weight: 500;
    font-size: 16px;
    
}

.sendOffer-alert{
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #00B879;
    display: flex;
    justify-content: center;
    align-items: center;
}